body{
    background-color: slateblue;
    background-image: url(https://images8.alphacoders.com/429/thumb-1920-429165.jpg);
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


div.contenedor {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    height: 50px;
    background-color: #18abdb;}
    div.contenedor div.left {float: left;
    padding: 7px;}
p.parrafo1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
    img.portada {
        width: 400px;
        height: 400px;}
    img {
        float: right;
        padding: 20px;
    }
h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
p.parrafo2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
